{% extends 'cand_app/navbar.html' %}

{% block content %}
<title>FRB Event Table</title>
<div class="container-fluid">
  <h1>FRB Event Table</h1>

  <table id="expandable" class="display">
    <thead>
      <tr>
        <th></th>
        <th>ID</th>
        <th>TNS name</th>
        <th># Confirm</th>
        <th># Reject</th>
        <th>RA</th>
        <th>RA Error</th>
        <th>Dec</th>
        <th>Dec Error</th>
        <th>DM</th>
        <th>DM Error</th>
        <th>Source</th>
        <th>Version</th>
        <th>Datetime</th>
        <th>SN</th>
        <th>Width</th>
        <th>Z</th>
        <th>RM</th>
        <th>RM Error</th>
        <th>Fluence</th>
        <th>Fluence Error</th>
        <th>Flux</th>
        <th>Flux Error</th>
      </tr>
    </thead>
    <!-- {% for object in frb_events %}
    <tr>
      <td>  </td>
      <td> {{ object.id }} </td>
      <td> {{ object.tns_name }} </td>
      <td> {{ object.dm }} </td>
      <td> {{ object.sn }} </td>
      <td> {{ object.width }} </td>
    </tr>
    {% endfor %} -->
  </table>
</div>

<script type="text/javascript">
  /* Function for child row details*/
  function getChildRow(data) {
    // `data` is the data object for the row
    var child_table = '';
    // Loop over each position and add it to the table
    console.log("radio_measurements: ")
    console.log(data.radio_measurements)
    for (var i = 1; i < data.radio_measurements.length; i++){
      console.log("pos: ")
      console.log(data.radio_measurements[i])
      child_table +=
      '<tr>' +
        '<td></td>' +
        '<td></td>' +
        '<td></td>' +
        '<td></td>' +
        '<td></td>' +
        '<td>' + data.radio_measurements[i].ra_hms + '</td>' +
        '<td>' + data.radio_measurements[i].ra_pos_error + '</td>' +
        '<td>' + data.radio_measurements[i].dec_dms + '</td>' +
        '<td>' + data.radio_measurements[i].dec_pos_error + '</td>' +
        '<td>' + data.radio_measurements[i].dm + '</td>' +
        '<td>' + data.radio_measurements[i].dm_err + '</td>' +
        '<td>' + data.radio_measurements[i].source + '</td>' +
        '<td>' + data.radio_measurements[i].version + '</td>' +
        '<td>' + data.radio_measurements[i].datetime + '</td>' +
        '<td>' + data.radio_measurements[i].sn + '</td>' +
        '<td>' + data.radio_measurements[i].width + '</td>' +
        '<td>' + data.radio_measurements[i].z + '</td>' +
        '<td>' + data.radio_measurements[i].rm + '</td>' +
        '<td>' + data.radio_measurements[i].rm_err + '</td>' +
        '<td>' + data.radio_measurements[i].fluence + '</td>' +
        '<td>' + data.radio_measurements[i].fluence_err + '</td>' +
        '<td>' + data.radio_measurements[i].flux + '</td>' +
        '<td>' + data.radio_measurements[i].flux_err + '</td>' +
      '</tr>';
    }
    return $(child_table).toArray();
  }
  $(document).ready(function () {
    console.log('{{ frb_json | safe }}')
    var json = JSON.parse('{{ frb_json | safe }}');
    console.log(json)
    var table = $('#expandable').DataTable({
      data: json,
      columns: [
        {
          className: 'dt-control',
          orderable: false,
          data: null,
          defaultContent: '',
        },
        {
          data: 'id',
          "render": function ( data, type, row, meta ) {
            return '<a href="/frbevent_details/'+data+'/">'+data+'</a>';
          }},
        { data: 'tns_name' },
        { data: 'pos_rates' },
        { data: 'neg_rates' },
        { data: 'ra_hms' },
        { data: 'ra_pos_error' },
        { data: 'dec_dms' },
        { data: 'dec_pos_error' },
        { data: 'dm' },
        { data: 'dm_err' },
        { data: 'source' },
        { data: 'version' },
        { data: 'datetime' },
        { data: 'sn' },
        { data: 'width' },
        { data: 'z' },
        { data: 'rm' },
        { data: 'rm_err' },
        { data: 'fluence' },
        { data: 'fluence_err' },
        { data: 'flux' },
        { data: 'flux_err' },
      ],
      order: [[1, 'desc']],
      pageLength: 100
    });

    // Add event listener for opening and closing details
    $('#expandable tbody').on('click', 'td.dt-control', function () {
      var tr = $(this).closest('tr');
      var row = table.row(tr);

      if (row.child.isShown()) {
        // This row is already open - close it
        row.child.hide();
        tr.removeClass('shown');
      } else {
        // Open this row
        row.child(getChildRow(row.data())).show();
        tr.addClass('shown');
      }
    });
  });
</script>
{% endblock %}